.menu {
  background-color: rgb(23, 0, 23);
  height: 80px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  color: white;
}

.mtitle {
  font-family: Oswald;
  font-weight: 800;
  margin: 0 10px;
  color: rgb(208, 255, 255);
}

.menulinks {
  color: red;
  width: max-content;
  display: flex;
  justify-content: space-around;
}

.menulinks a {
  color: white;
  margin: 0 10px;
}

.fa-magnifying-glass{
  font-size: small;
}