@import url("https://fonts.googleapis.com/css2?family=Faustina:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,400;1,700;1,900&family=Poppins:ital,wght@0,700;0,800;0,900;1,700;1,800;1,900&display=swap");

:root {
  --bigfont: Faustina;
  --smallfont: Merriweather;
  --bgcolor: rgb(255, 249, 243);
  --bigcolor: rgb(35, 0, 0);
  --maincolor: black;
}

* {
  font-family: var(--smallfont);
  margin: 0;
  padding: 0;
  -webkit-user-select: none;
  user-select: none;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  color: var(--maincolor);
}

body {
  background-color: var(--bgcolor);
}

#menu {
  color: var(--bigcolor);
  border-bottom: 0.1px solid var(--bigcolor);
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
}

#menu h1 {
  font-family: Poppins;
  font-weight: 800;
  text-align: left;
  padding: 15px;
  font-size: 40px;
  background-image: linear-gradient(#bc3f00, #004f12);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

#menu li {
  list-style: none;
  display: inline-block;
  margin: 10px;
  font-weight: 900;
  font-family: var(--bigfont);
}

#menu li:hover {
  text-decoration: 2px underline;
}

.extra-links {
  font-size: xx-small;
  position: absolute;
  top: 0;
  background-color: white;
  line-height: 0;
  text-align: center;
}

@media screen and (max-width: 980px) {
  #menu {
    display: block;
    text-align: center;
  }
  #menu h1 {
    text-align: center;
    font-size: 40px;
  }

  #menu ul {
    border-top: 0.1px solid rgba(0, 0, 0, 0.2);
  }
}

@media screen and (max-width: 375px) {
  #menu li {
    font-size: small;
  }
}
