.heading-p {
  font-family: var(--bigfont);
  font-size: 50px;
  background-color: rgba(255, 157, 0, 0.1);
  line-height: 2;
}

p {
  font-family: var(--smallfont);
}

#content-p {
  width: 50%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  display: block;
  line-height: 3;
}

b{
  font-size: larger;
}

@media screen and (max-width:750px){
  .heading-p{
    font-size: 30px;
    padding: 0px 5px;
  }
  #content-p{
    width: 90%;
    line-height: 2.5;
  }
}