@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;0,800;0,900;1,700;1,800;1,900&display=swap");

body {
  background-image: url(https://media.tenor.com/NH_dhrT0B6MAAAAC/white-aesthetic.gif);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.searchpage {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.sdiv {
  width: 500px;
}

#searchInput {
  width: 100%;
  outline: 0;
  padding: 12px;
  background-color: rgba(255, 255, 255, 0.054);
  border: 1px solid gray;
  border-radius: 20px;
  font-size: 16px;
}

#searchResults {
  padding: 10px;
}

#searchResults a {
  color: black;
  font-weight: 600;
}

.searchr {
  border: 0.1px solid rgba(0, 0, 0, 0.15);
  background-color: rgba(0, 0, 0, 0.07);
  width: 100%;
  padding: 5px;
  text-align: center;
  margin: 5px;
  border-radius: 10px;
}

.name-search {
  font-size: 100px;
  text-align: center;
  margin: 30px 0px;
  font-family: Poppins;
  background-image: linear-gradient( #bc3f00, #004f12);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

#menu h1 {
  font-size: 20px;
}

@media screen and (max-width: 750px) {
  .sdiv {
    width: 95%;
  }
  .name-search {
    font-size: 45px;
  }
}
